<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Anket Projesine Hoş Geldin !</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Yalnızca üç sorudan oluşan anketimize aşağıdaki butonu kullanarak ulaşabilirsin. </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-outline-primary btn-lg" [routerLink]="['survey']">Ankete Git</a>
      </div>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 35vh;">
    <div class="container px-5">
      <app-slider></app-slider>
    </div>
  </div>
</div>