<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">Survey Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Survey Project</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['']">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gizlilik Sözleşmesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kullanım Şartları</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ödeme Şartları</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Üyelik Şartları</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>